<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < categories.length; i++){ %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= categories[i].name %></td>
          <td>
            <form action="/categories/delete/<%= categories[i].id %>" method="POST">
              <a href="/categories/edit/<%= categories[i].id %>" class="btn btn-info btn-sm">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>
              <button class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
                Hapus
              </button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>